body {
    font-family: Arial, sans-serif;
    margin: 90px;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to right, 00000, #15496b); 
    color: #fff;
    text-align: justify;

}
p {
    font-size: 20px;
}
header {
    text-align: center;
    padding: 20px;
}

section {
    display: none;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    color: #3498db;
}

h2 {
    color: #3498db;
    font-size: 50px;
}

p {
    line-height: 1.6;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-button {
    cursor: pointer;
    padding: 1px;
    background-color: #3498db;
    color: #fff;
    border: 1px white;
    border-radius: 5px;
    margin-right: 8px;
    width:100px;
    height: 45px;
    font-size: 15px;
    margin-top: 3%;
}

#profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.social-icons {
    text-align: center;
    margin-right:40px
}
.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 44px;
    margin-left: 15px;
}

img{
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 20px;
    border: 30px ;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    
}

.david img{
    width: 300px;
    height: 530px;
    border-radius: 20px;
    border:solid 1px;
    box-shadow: 10px 10px 7px 5px black;
}

@media screen and (max-width: 600px) and (min-width:100px) {
    .tab-button {
        width:150px;
        height: 50px;
        font-size: 18px;
        margin-top: 6%;
        display:flex
    }
    body{
        
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
        
        
        text-align: justify;
        font-size: 30px;
    }

    p {
        line-height: 1.2;
        margin: 3%;
        font-size: 30px;
        text-align: center;
    }

    header {
        text-align: center;
        
    }
}
